---
import "$styles/global.css";
import "@fontsource-variable/league-spartan";
import { Image } from "astro:assets";

import logoImage from "../img/logo.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>geil wimers mache.</title>
  </head>
  <body class="bg-black">
    <div class="container mx-auto h-screen relative">
      <Image
        src={logoImage}
        class="mx-auto text-center my-10 w-max-full"
        alt="Logo"
      />
      <h1 class="prose font-sans text-5xl mx-auto text-center text-slate-200">
        Geil wimers gmacht hei.
      </h1>
      <p class="prose text-slate-400 text-center mx-auto mt-10">
        glii machemers no geiler.
      </p>
    </div>
  </body>
</html>
