---
import { Image } from "astro:assets";

import SiteLayout from "../layouts/SiteLayout.astro";

import logoImage from "../img/logo.svg";
---

<SiteLayout>
  <Image
    src={logoImage}
    class="mx-auto text-center my-10 w-max-full"
    alt="Logo"
  />
  <h1 class="prose font-sans text-5xl mx-auto text-center text-slate-200">
    Geil wimers gmacht hei.
  </h1>
  <p class="prose text-slate-400 text-center mx-auto mt-10">
    glii machemers no geiler.
  </p>
</SiteLayout>
