---
import childProcess from "child_process";
import { tz } from "@date-fns/tz";
import { format } from "date-fns";

const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();
const link = `https://github.com/schaermu/geil-wimers-mache/commit/${hash}`;

const date = format(new Date(), "yyyy-MM-dd HH:mm", {
  in: tz("Europe/Zurich"),
});
---

<footer>
  <p class="prose text-slate-700 text-center mx-auto mt-20 mb-10 text-xs">
    {date} - <a href={link} target="_blank">{hash}</a>
  </p>
</footer>
