---
import childProcess from "child_process";

const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();
const link = `https://github.com/schaermu/geil-wimers-mache/commit/${hash}`;

const date = `${new Date().getFullYear()}-${(new Date().getMonth() + 1).toString().padStart(2, "0")}-${new Date().getDate().toString().padStart(2, "0")} ${new Date().getHours().toString().padStart(2, "0")}:${new Date().getMinutes().toString().padStart(2, "0")}`;
---

<footer>
  <p class="prose text-slate-700 text-center mx-auto mt-20 mb-10 text-xs">
    {date} - <a href={link} target="_blank">{hash}</a>
  </p>
</footer>
